<div class="topic-detail py-5 bg-light">
  <div class="card w-75 mx-auto mt-4 shadow-lg">
    <div id="topic_<%= @topic.id %>">
      <%= attachment_image_tag @topic, :topic_image, class:"card-img-top"; %>
      <div class="card-body">
        <div class="row">
          <div class="col-2">
            <%= attachment_image_tag @topic.farmer, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", class:"mt-3 rounded-circle"; %>
          </div>
          <div class="col-10">
            <% @topic.tags.each do |tag| %>
              <span class="tag"><%= tag.name %></span>
            <% end %>
            <div id="topic_<%= @topic.id %>">
              <p class="card-title mt-3">
                <%= link_to(producer_topic_path(@topic), class: "text-dark") do %>
                  <strong><%= @topic.title %></strong>
                <% end %>
              </p>
              <p class="card-body">説明：<%= safe_join(@topic.body.split("\n"), tag(:br)) %></p>
              <span>By <%= @topic.farmer.name %> | </span>
              <span> <%= @topic.created_at.strftime('%Y年%m月%d日%H時%M分') %> | </span>
              <span><i class="fas fa-comments"></i> <%= link_to "#{@topic.topic_comments.count}", public_topic_path(@topic), class: "text-dark" %> | </span>
              <span class="favorite-btn"><%= render 'public/favorites/favorite-btn', topic: @topic %></span>
            </div>
          </div>
        </div>
        <hr>
        <div class="comments card-text">
          <div class="comments-count">
            <h4 class="mt-3"><%= @topic.topic_comments.count %>件コメント</h4>
          </div>
          <div id="topic_comments">
            <%= render "public/topic_comments/topic_comment-index", topic: @topic %>
          </div>
        </div>
        <hr>
        <div class="errors-message">
          <%= flash[:error] %>
        </div>
        <div class="new-comment card-text">
          <%= form_with model:[@topic, @topic_comment], url: public_topic_topic_comments_path(@topic.id), method: :post do |f| %>
            <div class="form-group">
              <label for="exampleformControlTextarea1" style="width: 100%;">コメントする</laber>
              <%= f.text_area :comment, row:'5', class: "form-control mt-2", placeholder: "コメントを入力してください"  %>
            </div>
            <%= f.submit "コメントする", class: "btn btn-lg btn-info mt-2 float-right" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>